img.carImage{
    height: 119px;
    max-width: initial;
    pointer-events: none;

}
.title{
    font-weight: bold;
    text-transform: uppercase;
}

.content{
    padding: 8px;
    background-color: white;
    border-radius: 0.25rem;
}